# =========================
# NODE MODULES
# =========================

node_modules/
frontend/node_modules/

# =========================
# REACT BUILD
# =========================

build/
frontend/build/

# =========================
# PYTHON / FLASK
# =========================

__pycache__/
*.pyc

venv/
env/

# =========================
# ENV FILES
# =========================

.env
.env.local

# =========================
# DATABASE FILES
# =========================

*.db
*.sqlite3

# =========================
# VS CODE
# =========================

.vscode/

# =========================
# LOG FILES
# =========================

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# SYSTEM FILES
# =========================

.DS_Store
Thumbs.db